---
# Install Sqoop2 Server
- name: Install mapr-sqoop2-server
  package: name=mapr-sqoop2-server state=present

# Other actions
- name: Set owner mapr-system user
  file: path=/opt/mapr/sqoop owner={{ mapr_user }} group={{ mapr_group }} state=directory recurse=yes